// Authors: Indra Ranuh

// Globals
html,
body {
    font-family: Poppins-Regular;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-color;
    font-size: 14px;

    @include breakpoint-up(md) {
        font-size: 16px;
    }

    &.unloaded {
        display: grid;
        place-items: center;
    }
}

.loader {

    .logo,
    .grand-emerald,
    .residence {
        transform-origin: center bottom;

        path {
            opacity: 0;
        }
    }
}

main {
    position: relative;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Allison;
}

h1 {
    font-size: 64px;

    @include breakpoint-up(md) {
        font-size: 72px;
    }
}

h2 {
    font-size: 48px;

    @include breakpoint-up(md) {
        font-size: 64px;
    }
}

h3 {
    font-size: 32px;

    @include breakpoint-up(md) {
        font-size: 48px;
    }
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

.highlight {
    color: $primary-color
}

// Button

// Navbar
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background: transparent;
    z-index: 10;

    @include breakpoint-up(md) {
        padding-top: 0;
        top: 2rem;
        left: 2rem;
        right: 2rem;
    }

    .logo img {
        &.logo-md {
            height: 32px;

            @include breakpoint-up(md) {
                height: 45px;
                display: block;
            }
        }
    }

    .btn-toggler {
        background: transparent;
        outline: none;
        border: none;

        &.active {
            svg path {
                transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
}

.menu {
    background-color: rgba(23, 23, 23, .9);
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    right: -100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    &.show {
        right: 0;
    }

    .navbar-nav {
        width: 100%;
        margin-top: 200px;
        padding-right: 2rem;

        @include breakpoint-up(md) {
            padding-right: 4rem;
        }

        .nav-item {
            text-align: right;
        }

        .nav-link {
            font-family: Poppins-ExtraLight;
            font-size: 24px;
            color: $bg-light-default;
            transition: .3s all;

            &:hover {
                color: white;
            }

            @include breakpoint-up(md) {
                font-size: 36px;
            }
        }
    }

    .menu-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 2.5rem 4rem;

        ul {
            display: flex;
            list-style: none;
            margin: 0;

            &.links li {
                padding-right: .8rem;

                &:not(:last-child):after {
                    position: absolute;
                    content: '';
                    height: 70%;
                    top: 50%;
                    width: 2px;
                    right: .35rem;
                    transform: translateY(-50%);
                    background-color: $text-color-default;
                }

            }

            li a {
                color: $text-color-default;
            }

            &.social-medias li {
                margin-right: .5rem;
            }
        }
    }
}

// Form
form {
    .btn {
        &:last-child {
            border-radius: 0;
            padding: .75rem 2rem;
            color: $dark-color;
            transition: .3s all;
            outline: 2px solid transparent;
            font-weight: 700;

            &:hover {
                outline-color: white;
                outline-offset: 4px;
            }
        }
    }

    .form-group {
        &:focus-within {
            label {
                color: white;
            }
        }
    }
}

.form-control {
    height: unset;
    background: transparent;
    border: 2px solid $text-color-muted;
    box-shadow: none;
    border-radius: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    color: white;

    &:focus,
    &:active {
        background: transparent;
        border-color: white;
        box-shadow: none;
        color: white;
    }
}

textarea.form-control {
    resize: none;
    height: 150px;
}


// Section
section {
    position: relative;
    padding: 7rem 0 1rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    p,
    a,
    label,
    span {
        color: $text-color-default;
    }

    @include breakpoint-up(md) {
        padding: 7rem 0 2rem;
    }

    h2 {
        position: relative;
        z-index: 3;
        text-align: center;
        font-size: 48px;

        @include breakpoint-up(md) {
            font-size: 64px;
        }
    }

    &.overlay-top {
        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            height: 35vh;
            width: 100%;
            background: $gradient-transparent-dark;
        }
    }

    &.overlay-full {
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 100%;
            width: 100%;
            background: $gradient-overlay;
        }
    }

    &.overlay-bottom {
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 35vh;
            width: 100%;
            background: $gradient-dark-transparent;

            @include breakpoint-up(md) {}
        }
    }

    &.pool {
        background-image: url('../images/pool.jpg');
        height: 100vh;
    }

    &.environtment {
        background-image: url('../images/environtment.jpg');
        height: 140vh;

        @include breakpoint-up(md) {
            height: 100vh;

        }
    }

    .title {
        position: absolute;
        bottom: 72.5px;
        color: white;
        z-index: 5;
    }

    .title-text {
        font-size: 2.5rem;

        @include breakpoint-up(md) {
            font-size: 64px;
        }
    }

    .description {
        width: 100%;
        color: $text-color-default;

        @include breakpoint-up(md) {
            max-width: 550px;
        }
    }

    .content {
        position: relative;
        z-index: 7;
    }
}

// Footer
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2.5rem;

    p {
        color: white;
    }
}