// Author: Indra Ranuh

// Coolor Variables
$primary-color: #D0AF6C;
$secondary-color: #297B3D;
$gray-color: #363636;
$light-gray-color: #424242;
$text-color-default: #CCCCCC;
$text-color-muted: #8F8F8F;
$bg-light-default: #E3E3E3;
$dark-color: #262626;

// Gradient Variables
$gradient-dark-transparent: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 100%);
$gradient-transparent-dark: linear-gradient(0deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 100%);
$gradient-overlay: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 261.3%);